{% load bootstrap3 %}

{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
    <title>{% block head_title %}{% endblock %}</title>

    {% block extra_head %}
    {% endblock %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />

    </head>
    <body>
    {% block body %}

        {% block jumbotron %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
        {% endblock %}

    {% endblock %}

    {% block extra_body %}
        <script src="{% bootstrap_jquery_url %}"></script>
        {% bootstrap_javascript %}
    {% endblock %}
    </body>
</html>
