{% extends "base.html" %}

{% load staticfiles %}

{% load bootstrap3 %}

{% load i18n %}

{% block head_title %}
    {% if requets.user.is_authenticated %}
        {% trans "Hello!" %}
        {% else %}
        {% trans "Hello," %} {{ request.user }}
    {% endif %}
{% endblock %}

    {% block extra_head %}
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static %}/css/main.css"/>
    {% endblock %}

    <body>
    {% block body %}

    {% if messages %}
    <div>
        <strong>Messages:</strong>
        <ul>
    {% for message in messages %}
            <li>{{message}}</li>
    {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div>
        <strong>Menu:</strong>
        <ul>
    {% if user.is_authenticated %}
            <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
            <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
    {% else %}
            <li><a href="{% url 'account_login' %}">Sign In</a></li>
            <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
    {% endif %}
        </ul>
    </div>

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    {% endblock %}

    {% block extra_body %}
    {% endblock %}
    </body>
</html>